* {
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "smelvetica";
  src: url("fonts/smelvetica.woff") format('woff');
}

@font-face {
  font-family: "smelvetica";
  src: url("fonts/smelvetica-bold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "smelvetica";
  src: url("fonts/smelvetica-italic.woff") format('woff');
  font-style: italic;
}

.wrapper {
  max-width: 800px;
  margin: auto;
  padding-top: 50px;
}

.smelvetica {
  font-family: "smelvetica", monospace;
}

.helvetica {
  font-family: helvetica;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

h1 {
  margin: 0px;
}

h2 {
  text-align: center;
  width: 520px;
  margin: auto;
  font-weight: normal;
}

.divider {
  width: 2px;
  height: 100px;
  margin: auto;
  background: black;
  display: block;
  margin-bottom: 100px;
  margin-top: 100px;
}

.demos {
  padding-bottom: 100px;
}

.demos .smelvetica {
  width: 370px;
  margin: auto;
  text-align: center;
}

.divider.up {
  margin-top: -60px;
}

.small {
  font-size: 16px;
}

@keyframes float-down {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 900px) {

  h1 {
    font-size: 60px;
  }
}

@media (max-width: 560px) {

  h1 {
    font-size: 40px;
  }

  h2 {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
  }

  p, .demos .smelvetica {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

